body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    margin-top: 80px;
}
.display-flex{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 49%;
    padding-left: 2%;
    
}
.half-width img{
    width: 80%;

}
h1{
   font-size: 40px;
   margin:0;
}
.orange-color{
    color: orange;
}
#stay-focused-border{
    border-left: 7px solid;
    border-image: linear-gradient(red, rgb(223, 114, 13));
    border-image-slice: 1;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato, rgb(236, 4, 4));
    color: white;
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 5px;
}
.one-third-width{
    width: 33%;
    margin: 2%;
}
.one-third-width img{
    width: 40%;
}
h2{
    font-size: 30px;
    text-align: center;
    font-weight: 800;
}
.mission-background{ 
    background-color: rgba(64, 224, 208, 0.185);
    padding: 2%;
    border-radius: 5px;
}
.vission-background{
    background-color: rgba(216, 191, 216, 0.671);
    padding: 2%;
    border-radius: 5px;
}
.goals-background{
    background-color: rgba(245, 222, 179, 0.719);
    padding: 2%;
    border-radius: 5px;

}
h3{
    font-size: 20px;
    font-weight: 900;
    margin: 0;
}
/* .develop-area{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30%;
    
} */
